body {
    background-color: rgb(122, 122, 122);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.gifarray {
    margin-top: 25px;
    margin-left: 15px;
}

